body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
}
.main{
    width: 1280px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.select{
    width: 230px;
    height: 46px;
    background-color: #f2f2f2;
    padding: 10px 12px;
    border-radius:5px;
    border:none;
}
.sidebar{
    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border:1px solid #D1D5DB;
}
.sidebar-menu{
    width: 90%;
    padding: 20px;
    float: left;
    display: flex;
    gap: 10px;
    margin-left: 10px;
    background-color: white;

}
.sidebar-menu:hover{
    background-color: #D1D5DB;
}
.sidebar-banner{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sidebar-title{
    font-size: 18px;
    font-weight: bold;
}
.sidebar-logo{
    width: 50px;
}
.sidebar-img{
    width: 25px;
}
.sidebar-text{
    font-size: 20px;
}
hr{
    width: 150px;
    margin-left: 15px;
    border:1px solid #D1D5DB;
    border-radius:5px;
}
.register-container{
    width: 1280px;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
    gap: 30px;

}
.register-page{
    padding: 40px;
    width:560px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;

}
.flex-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.register-label{
    font-size: 20px;
    font-weight: bold;
}
.register-input{
    width: 230px;
    height: 46px;
    background-color: #f2f2f2;
    padding: 10px 12px;
    border-radius:5px;
    border:none;
}
.register-input:focus{
    outline:none;
}
.register-email{
    width: 470px;
    height: 46px;
    background-color: #f2f2f2;
    padding: 10px 12px;
    border-radius:5px;
    border:none;
}
.register-email:focus{
    outline: none;
}
.register-button{
    width: 470px;
    padding: 15px;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    border:none;
}
.register-img{
    width: 356px;
    background-color: antiquewhite;
    height: 439px;
    margin-bottom: 90px;
}
.register-img img{
    width: 356px;
    border-radius: 5px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.2);
    /* height: 439px; */
}
.list-content{
    width: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.list-header{
    background-color: black;
    color: white;
    display: flex;
    border-radius: 5px 5px 0px 0px;
}
.list-header-item{
    min-width: 200px;
    max-width: 200px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.list-content-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border:1px solid #EEEEEE;
}
.list-content-item:nth-child(2n){
    background-color: #EEEEEE;
}
.list-item{
    min-width: 200px;
    max-width: 200px;
    padding: 20px;
    text-align: center;
}
.list-content-item:hover .editButton .edit-icon{
    display: block;
}
.edit-icon{
    display: none;
    width: 20px;
    position: absolute;
    z-index: 1;
    margin-left:10px;
    margin-top:-10px;
}  